.aside{
   &_btn{
      background-color: rgb(255, 162, 0);
      width: 150px;
      height: 40px;
      border: 1.5px solid ;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}
}