main {
  display: flex;
  justify-content: center;
}

.background {
  display: none;

  &.active {
    display: block;
  }

  &__container {
    @include background-menu(
      flex,
      center,
      center,
      100vw,
      100vh,
      rgba(0, 0, 0, 0.9)
    );
    position: fixed;
    top: 0;
    z-index: 111;

    &-content {
      @include background-menu(flex, center, center, 500px, 270px, white);

      &-img {
        height: 100px;
        width: 100px;
      }

      &-img2 {
        width: 25px;
        height: 25px;
        position: relative;
        bottom: 90px;
        left: 140px;
      }
    }
  }
}
